/* Animations */
@keyframes see-next {
  0% {
      right: 0px;
  }

  50%{
    right: 6px;

  }

  100%{
    right: 0px;
  }
}
  

  .page-wrapper .sidebar-wrapper,
  .sidebar-wrapper .sidebar-brand > a,
  .sidebar-wrapper .sidebar-dropdown > a:after,
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
  .sidebar-wrapper ul li a i,
  .page-wrapper .page-content,
  .sidebar-wrapper .sidebar-search input.search-menu,
  .sidebar-wrapper .sidebar-search .input-group-text,
  .sidebar-wrapper .sidebar-menu ul li a,
  #show-sidebar,
  #close-sidebar {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  

  
  /*----------------toggled sidebar----------------*/
  
  .page-wrapper.toggled .sidebar-wrapper {
    position: fixed;
    left: 0px;
    display: block;
  }
  /*----------------show sidebar button----------------*/
  #show-sidebar {
    position: fixed;
    left: 0;
    top: 50%;
    border-radius: 0 4px 4px 0px;
    width: 35px;
    -transition-delay: 0.3s;
    z-index: 9;
  }
 .toggled #show-sidebar {
    left: 260px;
    
  }
  /*----------------sidebar wrapper----------------*/
  
  .sidebar-wrapper {
    width: 260px;
    height: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: -300px;
    z-index: 999;
  }
  
  .sidebar-wrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-wrapper a {
    text-decoration: none;
  }
  
  /*----------------sidebar content----------------*/
  
  .sidebar-content {
    max-height: calc(100% - 30px);
    height: calc(100% - 30px);
    overflow-y: auto;
    position: relative;
  }
  
  .sidebar-content.desktop {
    overflow-y: hidden;
  }
  
  /*--------------------sidebar icon----------------------*/
  
  .sidebar-wrapper .sidebar-filter {
    padding: 10px 20px;
    display: flex;
    align-items: center;
  }
  
  .sidebar-wrapper .sidebar-filter #filter-icon {
    cursor: pointer;
    font-size: 20px;
  }
  

  /*----------------------sidebar menu-------------------------*/
  
  .sidebar-wrapper .sidebar-menu {
    padding-bottom: 10px;
  }
  
  .sidebar-wrapper .sidebar-menu .header-menu span {
    font-weight: bold;
    font-size: 14px;
    padding: 15px 20px 5px 20px;
    display: inline-block;
  }
  
  .sidebar-wrapper .sidebar-menu ul li a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    position: relative;
    padding: 8px 30px 8px 20px;
  }
  
  .sidebar-wrapper .sidebar-menu ul li a i {
    margin-right: 10px;
    font-size: 12px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
  }  
  
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
    padding: 5px 0;
    padding-left: 20px;
    color: #818896;
    padding-right: 10px;  
  }  
  
  .sidebar-wrapper .sidebar-menu ul li a span.label,
  .sidebar-wrapper .sidebar-menu ul li a span.badge {
    float: right;
    margin-top: 8px;
    margin-left: 5px;
  }
  
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
    float: right;
    margin-top: 0px;
  }
  
  .sidebar-wrapper .sidebar-menu .sidebar-submenu {
    display: block;
  }
  
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
    transform: rotate(90deg);
    right: 17px;
  }
  
 
  
  
  /*-----------------------------dark-theme-------------------------------------------------*/
  
  .dark-theme .sidebar-wrapper {
      background: #31353D;
      top: 55px;
  }
  
  .dark-theme .sidebar-wrapper .sidebar-header,
  .dark-theme .sidebar-wrapper .sidebar-search,
  .dark-theme .sidebar-wrapper .sidebar-menu {
      border-top: 1px solid #3a3f48;
  }
  
  .dark-theme .sidebar-wrapper .sidebar-search input.search-menu,
  .dark-theme .sidebar-wrapper .sidebar-search .input-group-text {
      border-color: transparent;
      box-shadow: none;
  }
  
  .dark-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
  .dark-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
  .dark-theme .sidebar-wrapper .sidebar-search input.search-menu,
  .dark-theme .sidebar-wrapper .sidebar-search .input-group-text,
  .dark-theme .sidebar-wrapper .sidebar-filter>a,
  .dark-theme .sidebar-wrapper .sidebar-menu ul li a,
  .dark-theme .sidebar-footer>a {
      color: #818896;
  }
  
  .dark-theme .sidebar-wrapper .sidebar-menu ul li:hover>a,
  .dark-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a,
  .dark-theme .sidebar-wrapper .sidebar-header .user-info,
  .dark-theme .sidebar-wrapper .sidebar-filter>a:hover,
  .dark-theme .sidebar-footer>a:hover i {
      color: #b8bfce;
  }
  
  .page-wrapper.dark-theme.toggled #filter-icon {
      color: #bdbdbd;
  }
  
  .page-wrapper.dark-theme.toggled #filter-icon:hover {
      color: #ffffff;
  }
  
  .dark-theme .sidebar-wrapper ul li:hover a i,
  .dark-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
  .dark-theme .sidebar-wrapper .sidebar-search input.search-menu:focus+span,
  .dark-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
      color: #16c7ff;
      text-shadow:0px 0px 10px rgba(22, 199, 255, 0.5);
  }
  
  .dark-theme .sidebar-wrapper .sidebar-menu ul li a i,
  .dark-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
  .dark-theme .sidebar-wrapper .sidebar-search input.search-menu,
  .dark-theme .sidebar-wrapper .sidebar-search .input-group-text {
      background: #3a3f48;
  }
  
  .dark-theme .sidebar-wrapper .sidebar-menu .header-menu span {
      color: #6c7b88;
  }
  
  .dark-theme .sidebar-footer {
      background: #3a3f48;
      box-shadow: 0px -1px 5px #282c33;
      border-top: 1px solid #464a52;
  }

  .dropdown-item{
    cursor: pointer;
  }
  
  .dropdown-item:hover{
    background-color: #393d44;
  }
  .dropdown-item.active, .dropdown-item.active:hover{
    color: white !important;
    background-color: #007bff;
  }
  .form-control:focus, .form-control{
    color: white !important;
    background-color: transparent;
    border-color: none;
    outline: 0;
    box-shadow: none;
    border: none;
    border-bottom: solid 1px #ced4da;
  }
  select option{
    background-color: #3a3f48;
  }

  /* CATEGORIES */ 
  .main-categories{
    margin-top: -50px !important;
  }
  .next-category{
    position: absolute;
    right: 0px;
    animation: see-next 2s infinite;
    width: 24px;
  }
  .previous-category,  .next-category{
    cursor: pointer;
  }
  .next-category i {
    margin-left: 8px;
    font-size: 1.5em
  }
  .previous-category i{
    transform: rotate(180deg);
  }
  .previous-category{
    padding: 13px;
    border-bottom: solid 1px white;
    display: flex;
    margin-bottom: 10px;
  }
  .invisible{
    opacity: 0;
  }
  .categories{
    transition: margin 600ms, height 600ms;
    
  }
  .categories li {
    padding-left: 25px;
  }
  .sidebar-submenu{
    transition: height 600ms;
  }
  #categories-title{
    padding: 0px;
    z-index: 999999999999;
  }
  .categories .custom-control{
    padding: 10px;
  }
  #categories-title div{
    padding: 8px 30px 8px 20px;
    background-color: #31353d;
  }


  /* sorting */
  #sorting-title{
    display: flex;
  }
  .sidebar-dropdown div.sort-title{
    background-color: #31353d !important;
    display: flex;
    justify-content: space-between;
    flex-grow: 2;
  }

  /*-------------------Media Queries ----------------*/

  @media screen and (max-width: 520px) {

    .close-filter{
      top: 10px !important;
      left: unset !important;
      z-index: 999999999 !important;
      right: 10px;
    }
    .sidebar-wrapper{
      left: -100vw;
      width: 100% !important;
      display: none;
      z-index: 9999999;
      top: 0px !important;
    }
  }