<div class="main-container">
    <app-filter-tools></app-filter-tools>
    <div class="product-list">
        <div class="card-columns">
            <div *ngFor="let product of productService.productsFiltered" class="card-content">
                <app-product  [product]="product"></app-product>
            </div>
        </div>
        <div class="cart-button-container">
            <a class="text-white card-button" [routerLink]="['/shoppingCart']">
                <i class="fa fa-shopping-cart"></i> 
                <span>
                    {{ shoppingCartService.cart.length }}
                </span>
            </a>
        </div>
    </div>
</div>

